#### Project 3: Wrangle OpenStreetMap Data
The dataset that I chose to analyze for this project was Denver, CO, and I chose to use the SQL method to query the data. I am originally from Colorado so I was interested to research the Denver dataset and explore new information that I did not know before about Denver. I initially downloaded the XML file from the Openstreetmap website. The file size that was downloaded was extremely large and would take several hours to cleanse and analyze, so I utilized the code titled "create_sample_size" within the folder to generate a "sample" file so that the file size became around 54 MB. The smaller file size was much easier to capture a "small" picutre of the data and get a well rounded idea as to the set up of the dataset, find any discrepancies, and perform additional queries to explore the area.

##### Parse Data
Once I had created a smaller sample size of the downloaded Openstreetmap data, I utilized the code titled "parse" wihin the folder to parse the map data within the sample.osm file which produced a count of the tags and ways that were found in the sample data file. The code resulted in the count of 137,589 tags and 27,514 ways.

##### Problems encountered with the OpenStreet Map
Once I had the sample dataset available, it was then time to start auditing the data to see which areas will be focused on before the dataset is prepared for the SQL database. I utilized the code titled "audit" within the folder to audit the sample dataset.

##### Street Abbreviations Audit
I used the code titled "audit" wihin the folder to audit the street names that were included in the sample file. I then listed out the street names that were listed in the sample file to get an idea as to which abbreviations were included in the dataset. I was then able to target those abbreviations when the file was being prepared for the SQL database to ensure those abbreviations were updated. The update_street_names code was processed when the data was being cleansed and prepared for the dataset in the code titled "prepare_for_database" within the folder. The abbreviated street names were updated to reflect the full street names. I quried the data utilizing the query titled "qry_street_format.sql" after the data was cleansed to confirm that the street names were updated. Below is the query that I utilized as well as a few rows of data that were returned.

In [ ]:
South Broadway
South Garrison Street
South Holly Street
Potomac Street
Jamaica Street
South Logan Street
Alpine Avenue

##### Counties Audit
I utilized to audit the query titled "qry_counties_audit.sql" to audit the county names that were included in the sample file. I then set a condition on the "key" field to only return the values where the "key" field was equalled to "county". Within the query results, I found that there were county names included into the osm file that are not in the Denver Metropolitan area. I found within the top 10 counties that both Clear Creek, CO and Gilpin, CO appeared collectively 188 times; however Gilpin County is located north of Broomfield, which is located top of the northern Denver Metropolitan area and Clear Creek County is located in the mountains, west of the Denver Metropolitan Area.

In [ ]:
Jefferson, CO                         1018
Arapahoe, CO                           925
Adams, CO                              764
Boulder, CO                            638
Denver, CO                             614
Douglas, CO                            431
Weld, CO                               239
Broomfield, CO                         139
Clear Creek, CO                        129
Gilpin, CO                              59

##### Cities Audit
I queried the dataset utilizing the query titled "qry_cities_audit.sql" with a condition of the key being equalled to 'city' within the nodes_tags file that was created from the preparing for the database code below. When I audited the top cities that appeared within the dataset, I found that Idaho Springs appeared within the top cities, however Idaho Springs is located in Clear Creek County, which is located west of the Denver Metropolitan area. This analysis explains why Clear Creek County appeared in the top 10 counties within the dataset.

In [ ]:
Denver             192
Aurora              32
Boulder             26
Broomfield          22
Parker              13
Lakewood            13
Northglenn          12
Centennial           9
Idaho Springs        9
Golden               5
Keenesburg           5

##### Phone Numbers Audit
During my audit of the data, I found that there were several formats of phone number sincluded. I decided to include a standardized format when the data was being prepared for the SQL database so that there was a standardized version throughout the cleansed data. The piece of code that updated the phone numbers to a standardized format can be found in the "prepare_for_database" code located within the folder. The format was then standardised to +1 xxx xxx xxxx. I included a query below that reflects the updated phone numbers format. I included a few of the phone numbers that resulted from the query to reflect the updated format.

In [ ]:
sqlite> SELECT value 
FROM nodes_tags 
WHERE key = 'phone';

In [ ]:
+1 303 543 0886
+1 303 982 8220
+1 303 759 2076
+1 303 695 2600
+1 303 722 6861
+1 303 755 4483

##### Preparing the file for the SQL Database
My next step was to prepare the Sample Data Set to be imported into the SQL Database. I had to import the cerebus package into the Python environment before the code titled "prepare_for_database" could be processed. The code titled "schema" also had to be loaded into the environment in order for the code titled "prepare_for_database" could be ran. The code titled "prepare_for_database" was then utilized to prepare the sample dataset for the SQL database by cleansing the data to update the abbreviated street names as well as create a standardized format of the phone numbers and then it creates four separate .csv files that will be utilized to create SQL queries from.

##### Data Overview Utilizing SQL Commands
My next step in the analysis was to find how many Unqiue Users were included within the Sample Data Set, who the top 10 users who contributed to the Sample Data Set, as well as how many users have only contributed to the dataset once.

##### File Size

In [ ]:
denver_colorado.osm  797.529 MB
sample.osm            53.889 MB
ways.csv               1.672 MB
nodes.csv             20.801 MB
ways_nodes.csv         6.992 MB
ways_tags.csv          4.015 MB
nodes_tags.csv           .68 MB

##### Count of Nodes:

In [ ]:
sqlite> SELECT 
COUNT(*)
FROM nodes;

491280

##### Count of Ways:

In [ ]:
sqlite> SELECT 
COUNT(*)
FROM ways;

27514

##### Count of Unique Users:
I utilized the query titled "qry_unique_users_count.sql" to find the number of unique users who contributed to the dataset and found that there 1,223 unique users.

##### Top 10 Contributing Users
I utilized the query titled "qry_top_10_users.sql" to find the top 10 contributing users. The query results reflect that the user wtih the most contributions within the sample data was "Your Village Maps" and had 45,179 total contributions.

In [ ]:
Your Village Maps   45179
chachafish          36584
woodpeck_fixbot     23182
GPS_dr              21728
jjyach              14980
DavidJDBA           12649
Stevestr            11516
russdeffner         8376
Berjoh              5704
CornCO              5367

##### Amount of Users with only 1 Contribution
I utilized the query titled "qry_users_1_contribution.sql" and found the query results reflect that there were 302 users who only contributed to the dataset once.

##### Additional Analysis
My next step to further explore the dataset to find information about the area that included the most popular cuisines, restaurants, fast food restaurants, as well as the most popular religion of the area by utilizing the below SQL queries.

##### Top 10 Cuisines
I utilized the query titled "qry_top_10_cuisines.sql" within the folder to find the top 10 cuisines within the dataset. I was not surprised to learn that sandwiches and mexican cuisines were the most frequent within the sample dataset. From my prior experience of living in the Denver area, I would see several Jimmy John's, Wich Wich's, Subways, as well as Mexican restaurants within Dever so the results of the below SQL query confirmed the most popular cuisines.

* sandwich     15
* mexican      12
* burger       12
* pizza        12
* coffee_shop   8
* asian         5
* american      5
* sushi         4
* ice_cream     4
* steak_house   3

##### Top 10 Amenities
The next query that I utilized titled "qry_top_10_amenities.sql" within the folder for the dataset was to see what the top 10 amenities were included withiin the sample dataset. I was pleased to see that bicycle parking was the second most popular amenity for the sample data set. Both road cycling and mountain biking are very popular in Denver and Boulder so the query results of the bicycle parking being the second most popular amenity do match with the physical acitivies within the area.

In [ ]:
restaurant                 94
bicycle_parking            52
school                     50
bench                      48
fast_food                  41
fuel                       36
place_of_worship           35
parking                    33
cafe                       31
toilets                    21

##### Top 10 Restaurants
I then utilized the query titled "qry_top_10_restaurants.sql" to find the top 10 restaurants within the dataset and found that Chipotle and Jimmy Johns were the most popular restaurants within the area. These results correlate back to the two most popular cuisines within the dataset, sandwiches and mexican. I was also not surprised to see Chipotle in the top 10 restaurants as they started in Denver, CO.

In [ ]:
Chipotle                      2
Jimmy Johns                   2
Five Guys Burgers             1
Fogo de Chao                  1
Garbanzo Mediterranean Grill  1
Graze                         1
G s Bar & Grill               1
Hog Heaven BBQ                1
Hopdoddy Burger Bar           1
Illegal Petes Co              1

##### Top 5 Fast Food Restaurants
The next part that I wanted to explore within the dataset were the top 5 restaurants that were classified as "fast food" within the data. The query that I utilized "qry_top_5_fast_food_restaurants.sql" results again matched the most popular cuisine of sandwiches. I also expected to see Taco Bell included in the SQL results as mexican was the second most popular cuisine within the dataset. Another interesting thing I found within the query results was the name "Dairy Queen Brazier" appeared. I searched "Dairy Queen Brazier" and found that it was originated back in 1957 to signify the restaurant having an "open charcoal grill". The name was later phased out in 1993 and in the early 2000s, the signage was updated to include "Grill" within the name to signify that those restaurants were similar to the Brazier restaurants.

In [ ]:
Subway                5
Burger King           3
Taco Bell             3
Papa Johns            2
Dairy Queen Brazier   1

##### Top Religion
My last query that I performed on the data was titled to "qry_top_religion.sql" and was to find what the most popular religion of the sample dataset was. I wasn't surprised to see that Christian was the most popular. I researched the most popular religion of Denver and found that of the 53% of people who live in the Denver Area, 29% identify as "Catholic", which is a branch of the Christian religion.

##### Conclusion
One improvement that I noticed is to update the titles of the map area that is being captured. I do think that if the map title was updated to "Denver and Boulder, CO and Surrounding Areas", it would help alleviate confusion while querying the data that other areas outside the Metropolitan area are also being included. While I was auditing the data, I was finding cities and counties were included in the OSM file that were not located in the Dever Metropolitan area, such as Cleark Creek County, which is located about 20 miles to the west of Denver. This will be beneifical to truly identify anomalies within the data.
Another imporvement that I found while working with this dataset is that I noticed while I was querying the data that some bike paths were included, however I think that connecting the Openstreet Map data to an app such as Strava could expand even more on the bikepaths as road cycling and mountain biking are very prominent activies in the area. I think being able to connect the Openstreetmap to another app so that missing pieces of data that might exist in either the Openstreetmap source or the app can be filled in as well as ensure the data is staying up to date as some areas of the map might be updated more frequently than others. The last imporvement that I found is to standardize the allowed data input format when contributors input their data so there is a less likely chance of errors occurring. There could also be a script that cleanses the data more frequently so that abbreviations and phone number formats are remaining consistent. This improvement would help alleviate the data from becoming muddled and allow for more time to analyze the data.